<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-align-items-center">
      {{ questions[0].quizTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>

      <ion-item *ngFor="let question of questions;" class="margin-10">
        {{ question.title }}
        <div slot="end">
          <ion-button [routerLink]="['/', 'answer-question', question.id]" color="tertiary">            
            <ion-icon slot="end" name="help"></ion-icon> Answer
          </ion-button>
        </div>
        <br>
      </ion-item>

  
    </ion-list>
  </div>
</ion-content>