<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="ion-align-self-center" src="../../assets/quizando-removedBg.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" scroll-y="false" class="ion-align-items-center">

  <h5 class="ion-text-center" color="success"><b>Quiz:</b> {{ questions[0].quizTitle }}</h5>
  <p class="ion-text-center" *ngIf="rightQuestions > 0" color="success"><b>Acertos:</b> {{ rightQuestions }}</p>

    <ion-slides  #slides pager="true">

      <ion-slide *ngFor="let question of questions;" class="margin-10-and-top--65" (ionSlideDidChange)="slideChanged()">
        <div class="container">
          <div class="row">
            <div class="col" style="margin-top: -20px;">
              ({{questionsCount+1}}/{{questions.length}})  {{ question.title }}
            </div>
          </div>
          <div class="row" *ngFor="let answer of answers">
            <div class="col">
              <ion-button expand="block" shape="round" color="success" id="{{'bt-' + answer.id}}"
                (click)='checkAnswer(answer)'>{{ answer.title }} </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
</ion-content>