.margin-10 {
    padding: 10px;
}

.margin-10-and-top--65 {
    padding: 10px;
    margin-top: -65px;
}

ion-slides {
    height: 90%;
}

.wrong-answer {
    background-color: red;
}

.correct-answer {
    background-color: green;
}
