<ion-header [translucent]="true" class="ion-align-items-center">
  <ion-toolbar class="ion-align-items-center">
    <img class="ion-align-self-center" src="../../assets/quizando-removedBg.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>

      <ion-item *ngFor="let quiz of quizes;" class="margin-10"> 
        {{ quiz.title }}
        <div slot="end">
          <ion-button [routerLink]="['/', 'start-quiz', quiz.id]" color="success">            
            <ion-icon slot="end" name="play-outline"></ion-icon> Jogar
          </ion-button>
        </div>
      </ion-item>

  
    </ion-list>
  </div>
</ion-content>